<!--Optimized Image Results-->
<Files>
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Infinity-Loop.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="0048194d95853facf9f77256decb40ec" SizeBefore="8626" SizeAfter="5806" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Pocket.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="69db5affea25a83207c6718324fa713b" SizeBefore="4195" SizeAfter="2799" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Toilet-Paper.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="2ecc4af1f25a4c53d0cbfddacb71795f" SizeBefore="4125" SizeAfter="2586" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Compas.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="70c1765f63707351bc3b5666dcdc7ce8" SizeBefore="17148" SizeAfter="12285" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Map.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="4dd9a9ac818c0feaa5f332381de164b6" SizeBefore="8582" SizeAfter="5683" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Book.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="e4325bff9636b8d02cbd053017c7ca4b" SizeBefore="3084" SizeAfter="1896" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/login/icon.png" Service="Kraken" Date="29/12/2016 19:17:41" Hash="bd15a6de34cbaaa819e5201adde2fd8b" SizeBefore="7510" SizeAfter="5149" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/login/imac.png" Service="Kraken" Date="29/12/2016 19:17:41" Hash="ca062f89ab09ec98a61b482232847a27" SizeBefore="7843" SizeAfter="6990" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Mail.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="af521e3a60a712f25921865b6f18205b" SizeBefore="7028" SizeAfter="4612" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Chat.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="735b1ffa25b49356ec7de07ba2e5f50d" SizeBefore="4264" SizeAfter="2707" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Watches.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="d0d1fa7d20465718736c8e8612079d1b" SizeBefore="11612" SizeAfter="7658" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/tile/ribbon.png" Service="Kraken" Date="29/12/2016 19:17:41" Hash="f3b1cf2dd8663ef00728a7564320d255" SizeBefore="2836" SizeAfter="902" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Pensils.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="fdcb58cf5c6754a8ca8085bce2e6cf3c" SizeBefore="12042" SizeAfter="7197" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Retina-Ready.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="66b0c40f8145905fc0ad64e01098cba3" SizeBefore="10433" SizeAfter="7148" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Calendar.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="d1453d790e285deea77124011fe1ee14" SizeBefore="4553" SizeAfter="2598" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Gift-Box.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="24b495ea39932b817b61ce0a3542cf9a" SizeBefore="11769" SizeAfter="8582" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/tile/ribbon-2x.png" Service="Kraken" Date="29/12/2016 19:17:41" Hash="45a409205dcc26f75abb3de938790fcf" SizeBefore="4342" SizeAfter="1871" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/login/imac-2x.png" Service="Kraken" Date="29/12/2016 19:17:41" Hash="740d287ff06eb7932bd06585a5a6ab76" SizeBefore="22288" SizeAfter="21435" />
     <Add Location="C:/Projects/Cake/Cake.ImageOptimizer/src/ImageOptimizer.Tests/Files/Source/icons/png/Clipboard.png" Service="Kraken" Date="29/12/2016 19:17:40" Hash="d81cd95ea1cb82274defedfa2719a72e" SizeBefore="3931" SizeAfter="2410" />
</Files>